@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sz-maxWidth: 1200px;
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    --clr-bgMain: var(--off-white);
    --clr-fontMain: var(--very-dark-blue);
    --clr-fontSecondary: var(--dark-grayish-blue);
    --clr-bg-mobileMenu: #0003;
    --clr-font-link-hover: var(--soft-red);
    --clr-font-button: var(--off-white);
    --clr-bg-button: var(--soft-red);
    --clr-bg-button-hover: var(--very-dark-blue);
    --clr-bg-news: var(--very-dark-blue);
    --clr-font-newsHeader: var(--soft-orange);
    --clr-font-newsContentHeader: var(--off-white);
    --clr-font-newsLink-hover: var(--soft-orange);
    --clr-font-newsContentText: var(--grayish-blue);
    --clr-font-newsContentDivider: var(--dark-grayish-blue);
    --clr-font-articlesText: var(--dark-grayish-blue);
    --clr-font-articlesNumber: var(--grayish-blue);
    --filter-svgMain: invert(5%) sepia(87%) saturate(3133%) hue-rotate(201deg)
        brightness(108%) contrast(144%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--clr-bgMain);
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-bgMain: var(--very-dark-blue);
        --clr-fontMain: var(--off-white);
        --clr-bgHeader: var(--dark-grayish-blue);
        --clr-bg-news: var(--dark-grayish-blue);
        --clr-font-newsContentDivider: var(--grayish-blue);
        --filter-svgMain: invert(80%) sepia(1%) saturate(1247%)
            hue-rotate(329deg) brightness(115%) contrast(120%);
        --clr-bg-button-hover: var(--dark-grayish-blue);
    }
}
